pkgbase = arcconf
	pkgdesc = Adaptec ARCCONF command line interface utility
	pkgver = 1.06.21062
	pkgrel = 2
	url = http://adaptec.com/
	arch = i686
	arch = x86_64
	license = freeware
	depends = bash
	source = http://download.adaptec.com/raid/storage_manager/arcconf_v1_6_21062.zip
	sha256sums = fb740cb308fe8290f32b7e68f8f5bec54f9784a7377086769f2e2ec23e402ed0

pkgname = arcconf

